/*.App {
  text-align: center;
}*/

/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App-header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  background: linear-gradient(-45deg, #2B3180, #E95B0D);
  width: 100%;
  top: 0;
  position: fixed;
  height: 90px;
}

.App-body {
  padding-top: 90px;
}

.App-main {
  overflow-y: auto;
  height: calc(100vh - 90px);
}

.App-link {
  color: #61dafb;
}



.ServersList {
  background-color: #1D1D1B;
  width: 72px;
  left: 0px;
  height: calc(100vh - 90px);
  position: fixed;
  overflow-y: auto;
  color: white;
}

div::-webkit-scrollbar {
  background: #fff;
  width: 8px;
  height: 15px;
}

div::-webkit-scrollbar-thumb {
  background: #c5c5c5;
}

div{
  scrollbar-width: thin;
}

nav {
  padding-right: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  padding-left: 12px;
}

a {
  color: inherit;
  text-decoration: none;
}