.barra {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    background-color: #2b3180;
    width: 100%;
    height: 45px;
}

ul#horizontal-list li {
    display: inline;
    margin-right: 50px;
}

.content {
    background-color: rgb(97, 61, 95);
    height: calc(100vh - 45px - 90px);
    width: 100%;
    display: flex;
    overflow-y: auto;
}