@font-face {
  font-family: "VisbyRegular";
  src: local("VisbyRegular"),
    url("./fonts/Visby/VisbyCFRegular.otf") format("truetype");
}

body {
  overflow: hidden;
  margin: 0;
  font-family: "VisbyRegular", sans-serif;
  color: white;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}